@import "tailwindcss";

@source "../node_modules/flowbite-datepicker";

@import "flyonui/src/vendor/flatpickr.css";

/* @font-face {
    font-family: "VisbyCF";
    src: url('/fonts/Fontspring-DEMO-visbycf-regular.otf');
}
 */

@theme {

--color-primary-color: #EB662B;
--color-text-color: #05073C;


--font-primary: "Inter", sans-serif;

}

.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}
.swiper-pagination-bullet {
color: #05073C;
}



